:root {
  

}

/* Global Settings */
* {
    font-family: 'Montserrat';

}


body {
    font-size: 125%;
    line-height: 1.25;
    text-align: center;
}

ul {
    display:flex;
    font-size: 75%;
}


/* Hides screens to provide user a sense of progression through the game */
.hide {
    display: none;
}

.show {
    margin: 33vh auto 0 auto;
    max-width: 800px;
    text-align: center;
}


.answer {
    width: auto;
    height: 50px;
    font-size: 15px;
    margin: 10px;
}

#backButton {
    text-align: center;

}

#playerScoreList {
    max-width: 400px;
    margin: 0 auto 0 auto;
}

#scores {
    font-size:150%;

}