/* Global Settings */
* {
    font-family: 'Montserrat';

}

/* General styling */
body {
    font-size: 125%;
    line-height: 1.25;
    text-align: center;
}

ul {
    display:flex;
    font-size: 75%;
}


/* Hides screens to provide user a sense of progression through the game */
.hide {
    display: none;
}

.show {
    margin: 33vh auto 0 auto;
    max-width: 800px;
    text-align: center;
}


/* Styles the answer buttons */
.answer {
    width: auto;
    height: 50px;
    font-size: 15px;
    margin: 10px;
}

/* Styles backbutotn */
#backButton {
    text-align: center;

}

/* Styles player score list  */
#playerScoreList {
    max-width: 400px;
    margin: 0 auto 0 auto;
}

/* styles the "scores!" at the high score screen */
#scores {
    font-size:150%;

}