:root {
  

}

/* Global Settings */
* {
    font-family: 'Montserrat';

}


body {
    font-size: 125%;
    line-height: 1.25;

}

ul {
    display:flex;
    font-size: 75%;
}


/* Hides screens to provide user a sense of progression through the game */
.hide {
    display: none;
}

.show {
    margin: 33vh auto 0 auto;
    max-width: 800px;
    text-align: center;
}


.answer {
    width: auto;
    height: 50px;
    font-size: 15px;
    margin: 10px;
}

#highScore


/* Large smartphone sizing */

@media screen and (max-width: 768px) {
    .subcard {
        width: 80%;
    }

    .SubProjects {
        height: 125px;
    }


    h3, h5 {
        font-size: 20px;

    }


    .contactMe a {
        font-size: 15px;
    }


}